body {
    background-color: bisque;
}

.menu {
    position: absolute;
    width: 300px;
    height: 100%;
    background: #333;
}

.menu__link {
    color: white;
    text-decoration: none;
    display: block;
    padding: 25px;

}

.menu__link:hover {
    background: #888;
    color: white;
}

.channel-title {
    text-align: center;
    margin: 20px;
}

.program-list {
    background-color: white;
    list-style-type: none;
    padding: 0;
}

.program-list__item {
    border-top: 1px solid lightgray;
    padding: 10px;
}